.part {
    position: relative;
    top: 40px;
    height: 60vh;
    width: 100vw;
}

.part_top {
    position: absolute;
    width: 263px;
    height: 182px;
    left: 104px;
    top: 28px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #45108A;
}

.part_topp {
    position: absolute;
    width: 263px;
    height: 182px;
    left: 90px;
    top: 208px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #45108A;
}